## Os and Editors
.DS_Store
.vscode/
Desktop.ini

# Jupyter and Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.cache/

# Virtual environment and secrets
.venv/
.env*

# MySQL / DB dumps & configs
*.sql.gz
*.dump
*.bak
*.log