# Ignore these files and directories
.git
.DS_Store
*.cache
.vscode/
Desktop.ini

# Jupyter Notebook checkpoints
__pycache__/
*.py[cod]
*.pyo
*.pyd
.ipynb_checkpoints/
.venv/

# MySQL / DB dumps & client configs
*.sql.gz
*.dump
*.bak
*.backup
*.log
mysql.cnf
.my.cnf